.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;

    &__img {
      margin-top: 20px;
    }
  }
}